<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="MyConnectionString" connectionString="Data Source=msi;Initial Catalog=LabExam;Integrated Security=True"/>
  <add name="DBapplication.Properties.Settings.Hotel_ProjectConnectionString" connectionString="Data Source=DESKTOP-BEA79MR;Initial Catalog=Hotel_Project;Integrated Security=True" providerName="System.Data.SqlClient"/>
 </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
